body {
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #151b22;
    padding: 0 80px 0 80px;
}

h1 {
    color: #fff;
}

.header {

    display: flex;
    justify-content: space-between;
}

p:last-child {
    color: #ccc;
}

p:first-child {
    color: #55acee;
}

.des {
    color: #ccc;
}

th {
    color: #ffffff;
}