<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <p>Thời sự</p>
        <p>Thứ năm, 16/2/2023, 06:30 (GMT+7)</p>
    </div>
    <h1>
        Gầm cầu thành nơi chứa vật liệu xây dựng, rác thải
    </h1>
    <p class="des">Nhiều gầm cầu ở Hà Nội, TP HCM bị lấn chiếm để kinh doanh, làm nơi chứa vật liệu xây dựng, phế liệu, rác thải</p>
    <div>
        <img th:src="@{img/L1250343-JPG-1676427786.jpg}" alt="Hi">
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <th>[[${user.id}]]</th>
            <th>[[${user.name}]]</th>
            <th>[[${user.age}]]</th>
        </tr>
    </table>
</div>
</body>
</html>